// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import url('https://fonts.googleapis.com/css?family=Schoolbell');

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";


div.header {
  margin-bottom: 10px;
}
div.header .row .col.appicon {
  -webkit-flex: 0 0 100px;
  -moz-flex: 0 0 100px;
  flex: 0 0 100px;
  width: 100px;
  height: 100px;
  background-image: url(../../../../data/icons/general/app.png);
  background-size: contain;
  background-repeat: no-repeat;
}
div.header .row .col.apptitle {
  text-align: center;
}
div.header .row .col.apptitle h2 {
  font-family: 'Schoolbell', cursive;
  vertical-align: middle;
  margin-top: 15px;
}
div.header .row .col.appversion {
  -webkit-flex: 0 0 100px;
  -moz-flex: 0 0 100px;
  flex: 0 0 100px;
  width: 100px;
  text-align: right;
}

.listcontainer {
  /*height: 80%;*/
  width: 100%;
  max-width: 550px;
  overflow-y: scroll;
  overflow-x: hidden;
  border: 1px solid #000000;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  margin: 0px auto;
}
.infocontainer {
  /*height: 80%;*/
  width: 100%;
  max-width: 1280px;
  overflow-y: scroll;
  overflow-x: hidden;
  border: 1px solid #000000;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  margin: 0px auto;
}
.eventlist {
  max-width: 550px;
  width: 100%;
}
.eventlist .event {
  width: 100%;
  border-bottom: 1px solid #000000;
  padding: 10px;
}
.eventlist .event:first-child {
}
.eventlist .event:last-child {
}
.eventlist .event span {

}
.eventlist .event div.eventicon {
  -webkit-flex: 0 0 100px;
  -moz-flex: 0 0 100px;
  flex: 0 0 100px;
  width: 100px;
  height: 100px;
  display: inline-block;
  border: 1px solid #7c7c7c;
  border-radius: 15px;
  margin: -5px -5px -5px 10px;
  background-size: contain;
  background-repeat: no-repeat;
}
.eventlist .event .eventinfo {
  padding-left: 0px;
}
.eventlist .event .eventinfo span.eventname {
  font-family: 'Schoolbell', cursive;
  font-size: larger;
  font-weight: bold;
}
.eventlist .event .eventinfo .col.eventtimeremaining {
  max-width: 125px;
  text-align: right;
  padding-right: 0px;
}
.eventlist .event .eventinfo span.eventtimeremaining {
  /*float: right;*/
}
.eventlist .event div.eventlocation {
  width: 100%;
}
.eventlist .event div.eventlocation span.eventwaypoint {
  float: left;
  font-size: large;
}
.eventlist .event .eventinfo .col.eventcode {
  max-width: 140px;
  text-align: right;
  padding-right: 0px;
}
.eventlist .event div.eventinfo div.eventcode span.eventcode {
  border: none;
  border-bottom: 1px solid #000000;
  background: none;
  float: right;
  font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
}
.eventlist .event div.eventinfo div.eventcode button.copy {
  border: none;
  background: none;
  float: right;
  margin: 5px 0px 0px 5px;
  padding: 0px;
}
.eventlist .event div.eventlocation span.eventzone {

}

#moreoptions .row {
  padding: 10px;
}

div.wpicon {
  background: url(../../../../data/icons/general/wp.png);
  background-size: contain;
  background-repeat:  no-repeat;
  width: 30px;
  height: 25px;
  float: left;
}
div.portalicon {
  background: url(../../../../data/icons/general/portal.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 30px;
  height: 25px;
  float: left;
}

div.icon {
  border-radius: 5px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 50px;
  height: 50px;
}
div.gw2 {
  background-image: url(../../../../data/icons/general/gw2.png);
  background-color: #ffffff;
}
div.hot {
  background-image: url(../../../../data/icons/general/hot.png);
  background-color: #ffffff;
}
div.pof {
  background-image: url(../../../../data/icons/general/pof.png);
  background-color: #ffffff;
}

div.spacer {
  height: 6px;
}
div.clearfix {
  clear: both;
}

div.event.activeevent .span.eventtimeremaining {
  background: #0f0;
}